
.btn-estilo {
    height: 60px;
    width: 150px;
    background-color: #343a40;
    color: white;
}

.mapa {
    display: none;
}

.mapa.active {
    display: block;
}

.table{
    table-layout: auto;
    width: auto;
}